@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Memo Application</h3>
<h4>SWE20001 - Semester 2 2018 - High Distinction (HD) Project</h4>

<p>This Memo app was developed by the following students for our HD Project:</p>
<ul>
    <li>-Vassu Manivasakan</li>
    <li>-Chan Siawwei</li>
    <li>-Zoran Gligorevic</li>
    <li>-Chayya Sok</li>
</ul>