@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"] - Swinburne University</h3>
<h4>SWE20001 - Semester 2 2018 - High Distinction (HD) Project</h4>

<address>
    <p><iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJVz_2mzJC1moRyFbcC1EQitE&key=AIzaSyDRXiFKs4KA0-2PHFdOIKkrYLuwrDYPYYI
     " allowfullscreen></iframe></p>
    35 Wakefield Street,<br />
    Hawthorn, Melbourne VIC 3122<br />
    <abbr title="Phone">P:</abbr>
    03 9123 4567
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@memoapp.swinburne.edu.au">Support@memoapp.swinburne.edu.au</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@memoapp.swinburne.edu.au">Marketing@memoapp.swinburne.edu.au</a>
</address>
