@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    
    <link href="../../assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="../../assets/css/style-responsive.css" rel="stylesheet">
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
       <div class="top-menu">
           <ul class="nav pull-right top-menu">
           <!-- <ul class="nav navbar-nav navbar-right"> -->
            <li>
                <span onclick="myFunction()" class="btn btn-link navbar-btn navbar-link"><img src="/images/notificationBell.png" alt="Notification Bell" height="25px" width="25px"></span>
                <div id="myDIV" style="position: absolute; display: none;     box-sizing: content-box; width: 300px; height: 100px; padding: 30px; border: 10px solid black; background-color: lightblue;">
                    <h4 align="center">You have no notifications!</h4>
                </div>
            </li>
            <!--
            TEMPORARILY REMOVED WRONGLY ALIGNED USER EMAIL ON TOP NAV BAR
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            -->
            <!-- <li><span>@UserManager.GetUserName(User)</span></li>-->
            <li>
                Hello @UserManager.GetUserName(User)!
                <button type="submit" class="logout">Logout</button>
            </li>
            </ul>
        </div>
    </form>
    
    <script type="text/javascript">
        function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        }
    </script>
    /* <button onclick="myFunction()">Click Me</button> */
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register" class="logout">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login" class="logout">Login</a></li>
    </ul>
}